// =========================================
// CONFIGURATION
// =========================================

@use "sass:map";

$grid-columns: 12 !default;
$gutter: 4vw !default;
$container-padding: 4vw !default;
$container-max-width: 1900px !default;

$breakpoints: (
  xs: 0,        // 1 Spalte
  sm: 480px,    // 2 Spalten möglich (Cards)
  md: 768px,    // 2 Spalten stabil / Tablet
  lg: 960px,    // 3 Spalten stabil
  xl: 1280px,   // 4 Spalten / echter Desktop
  xxl: 1600px   // große Monitore
) !default;
