// typography.scss
// ----------------------------------------------------------------
// TRUE PROPORTIONAL SCALING
// ----------------------------------------------------------------

@use "sass:math";

// Config
$viewport-min: 680;
$viewport-max: 2000;
$font-min: 16;
$font-sans: "Inter", system-ui, sans-serif !default;

// Berechnung
$base-vw: math.div($font-min, $viewport-min) * 100;
$font-max: math.div($base-vw * $viewport-max, 100);

:root {
  font-size: clamp(#{$font-min}px, #{$base-vw}vw, #{$font-max}px);
}

// Typography Scale
body { 
  font-size: 1em; 
  line-height: 1.5;
  font-family: $font-sans;
}

h1 { font-size: 2.5em; line-height: 1.2; }
h2 { font-size: 2em; line-height: 1.3; }
h3 { font-size: 1.5em; line-height: 1.4; }
h4 { font-size: 1.25em; line-height: 1.4; }
h5 { font-size: 1.125em; line-height: 1.5; }
h6 { font-size: 1em; line-height: 1.5; }

p, ul, ol { font-size: 1em; }
small { font-size: 0.875em; }